*{
  margin: 0px;
  padding: 0px;
}
/* Header prva strana */

header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.logo-holder{
  text-decoration: none;
}
#logo{
  line-height: 64px;
  font-size: 32px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-left: 200px;
  text-decoration: none;
  color: #31473A;
}
.navbar{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 8px;
  margin-right: 200px;
}
.navbar-link{
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #31473A;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: transparent;
}
.navbar-link:hover{
  background-color: #EDF4F2;
}

/* Fali za aktivni link da napravim */
/* Prva sekcija */

#first-section{
  width: 100%;
  height: 900px;
  background-image: url("../img/gondola.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
#hero-content-holder{
  margin-left: 200px;
}
.main-h{
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  font-size: 64px;
  font-weight: 700;
  color: white;
}
.main-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-bottom: 32px;
  max-width: 650px;
}
#hero-link{
  font-size: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #EDF4F2;
  color: #31473A;
}
#hero-link:hover{
  background-color: #31473A;
  color: #EDF4F2;
}

/* Druga sekcija */

#second-section{
  background-color: #EDF4F2;
  padding: 100px 200px;
}
.h2-sec{
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
  color: #31473A;
  text-align: center;
}
.card-holder-sec{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
}
.card-sec{
  width: 33%;
  padding: 48px 24px;
  background-color: #31473A;
  border-radius: 16px;
  box-shadow: 0px 0px 10px #31473A;
}
.card-sec:hover{
  transform: scale(1.02);
}
.h3-sec{
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #EDF4F2;
}
.p-sec{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #EDF4F2;
  max-width: 100%;
}
#park{
  font-size: 48px;
  color: #EDF4F2;
}
#hiking{
  font-size: 48px;
  color: #EDF4F2;
}
#air{
  font-size: 48px;
  color: #EDF4F2;
}

/* treca sekcija */

#third-section{
  padding: 100px 200px;
  background-color: #31473A;
  display: flex;
  justify-content: space-between;
  gap: 4%;
}
#priroda{
  width: 48%;
  border-radius: 16px;
  box-shadow: 0px 0px 10px #EDF4F2;
}
#right-content-holder{
  width: 48%;
  background-color: #EDF4F2;
  border-radius: 16px;
  padding: 24px;
}
.h2-th{
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #31473A;
}
.p-th{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #31473A;
  max-width: 100%;
  margin-bottom: 8px;
}

/* cetvta sekcija */

#fourth-section{
  padding: 100px 200px;
  background-color: #EDF4F2;
}
.image-holder{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 24;
}
.img-t{
  width: 31.5%;
  border-radius: 16px;
  object-fit: cover;
  object-position: bottom;
  margin-top: 32px;
  box-shadow: 0px 0px 10px #31473A;
}
.img-t:hover{
  transform: scale(1.02);
}

/* footer */

footer{
  padding: 100px 200px;
  background-color: #31473A;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo-footer-holder{
  line-height: 64px;
  font-size: 32px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-decoration: none;
  color: #EDF4F2;
  margin-bottom: 24px;
}
.links-footer-holder{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 8px;
  margin-bottom: 48px;
}
.footer-link{
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #EDF4F2;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: transparent;
}
.footer-link:hover{
  text-decoration: underline;
}
.media-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.fa-brands{
  font-size: 24px;
  color: #31473A;
  padding: 10px;
  background-color: #EDF4F2; 
  border-radius: 50%;
}
.author-holder{
  background-color: #EDF4F2;
  padding: 100px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#author-photo{
  width: 48%;
  border-radius: 24px;
  box-shadow: 0px 0px 10px #31473A;
}
.author-content{
  width: 48%;
}
.author-h2{
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #31473A;
}
.author-p{
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 16px 0px;
  color: #31473A;
}
.contact-sec{
  background-color: #EDF4F2;
  padding: 100px 200px;
}
#contact-form{
  padding: 25px;
  width: 600px;
  margin: 0px auto;
  background-color: #31473A;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px #31473A;
}
#form-label{
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #EDF4F2;
}
#contact-form input{
  font-family: "Raleway", sans-serif;
  color: #31473A;
  border: none;
  background-color: #EDF4F2;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
#contact-form input::placeholder{
  color: #31473A;
}
#poruka::placeholder{
  color: #31473A;
}
#poruka{
  font-family: "Raleway", sans-serif;
  color: #31473A;
  border: none;
  background-color: #EDF4F2;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
#contact-submit{
  font-family: "Raleway", sans-serif;
  background-color: #EDF4F2;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: #31473A;
}
#place-section{
  padding: 100px 200px;
  background-color: #EDF4F2;
}
#image-holder{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.place-div{
  background-color: #31473A;
  padding: 16px;
  border-radius: 8px;
}
.place-div:hover{
  .image-gallery{scale: 1.1;}
}
.place-h3{
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #EDF4F2;
  text-align: center;
}
.dogadjaji-sec{
  padding: 100px 200px;
  background-color: #EDF4F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sabor{
  width: 48%;
  border-radius: 24px;
  box-shadow: 0px 0px 10px #31473A;
}
.content-column{
  display: flex;
  flex-direction: column;
  width: 48%;
}
.h2-d1{
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #31473A;
}
.p-d1{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #31473A;
  max-width: 100%;
  margin-bottom: 8px;
}
.dogadjaji-sec-sec{
  padding: 100px 200px;
  background-color: #31473A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h2-d2{
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #EDF4F2
}
.p-d2{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #EDF4F2;
  max-width: 100%;
  margin-bottom: 8px;
}
#kleto{
  width: 48%;
  border-radius: 24px;
  box-shadow: 0px 0px 10px #EDF4F2
}
#map-section{
  padding: 0px 200px 100px 200px;
  background-color: #EDF4F2;
}
#map-frame{
  width: 100%;
  height: 500px;
  border-radius: 24px;
  border: #31473A solid 3px;
  box-shadow: 0px 0px 20px #31473A;
}
.image-gallery{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageee{
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #EDF4F2;
}